<!-- Beginning of Add Item Modal-->
<div class="modal fade" id="Modal-AddConfirm-{{ item.id }}"
   tabindex="-1"
   aria-labelledby="exampleModallabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="Modallabel">
               <!-- -->
                {{ item.name }}
            </h5>
            <button type="button" class="close"
               data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
            </button>
         </div>
         <div class="modal-body">
            <!-- Here goes the text/paragraph-->

             <form method="post">
                {{ add_form.hidden_tag() }}

                 <h4>
                     Add item to inventory {{ item.name }} for Ksh. {{ item.price }} ?
                 </h4>
                 <br>
                 <h6 class="text-center">
                     By clicking Add, you will add this item to your inventory.
                 </h6>
                 <br>
                 <input id="add_item" name="add_item" type="hidden" value="{{ item.name }}">
                 {{ add_form.submit(class="btn btn-outline-success btn-block") }}
             </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
               data-dismiss="modal">Cancel
            </button>
         </div>
      </div>
   </div>
</div>
<!-- End of Add Item Modal-->